.app-component {
  .header {
    display: flex;
    background-color: $green-light;

    h1 {
      flex: 0 0 auto;
      margin: 0;
      padding: 0 20px;
      color: $gray-light;
      line-height: 60px;
      font-size: 24px;
      font-weight: 600;
    }

    .nav {
      flex: 1 1 auto;
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        height: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;

        a {
          display: inline-block;
          height: 100%;
          padding: 0 20px;
          line-height: 60px;
          color: $gray-light;
          text-decoration: none;

          &:hover,
          &:focus,
          &.active {
            box-shadow: inset 0 -6px 0 $green-dark;
          }
        }
      }
    }
  }

  .content {
    padding: 20px;

    h2 {
      margin: 0 0 10px;
    }
  }
}
