.app-component {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 0 auto;
    margin: 24px 0;
  }

  .footer {
    flex: 0 0 auto;
    color: $gray-light;
    background-color: $green-light;
    font-size: 13.5px;
    -webkit-font-smoothing: antialiased;

    h5 {
      color: $gray-light;
      font-size: 24px;
      font-weight: normal;
    }

    p {
      line-height: 1.5em;
    }

    a {
      color: $gray-light;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        box-shadow: inset 0 -1px 0 $green-dark;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0 0 6px;
      }
    }

    .svg-icon-component {
      margin-right: 6px;
      vertical-align: middle;

      svg {
        width: 16px;
        height: 16px;
        fill: $gray-light;
      }
    }
  }
}
