$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width / 3 !default;
$element-bottom-margin: ($gutter-width * 2) / 3 !default;

@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}

@mixin grid-classes($size, $i, $perc) {
  &.column-offset-#{$size}#{$i} {
    margin-left: $perc;
  }
}

.container-component {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;

  .row-component {
    margin-left: (-1 * $gutter-width / 2);
    margin-right: (-1 * $gutter-width / 2);
  }

  @media #{$medium-and-up} {
    width: 85%;
  }

  @media #{$large-and-up} {
    width: 70%;
  }
}

.row-component {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.column-component {
  float: left;
  box-sizing: border-box;
  padding: 0 $gutter-width / 2;
  min-height: 1px;

  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    &.column-s#{$i} {
      width: $perc;
      @include reset-offset;
    }
    $i: $i + 1;
  }

  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    @include grid-classes("s", $i, $perc);
    $i: $i + 1;
  }

  @media #{$medium-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.column-m#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("m", $i, $perc);
      $i: $i + 1;
    }
  }

  @media #{$large-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.column-l#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("l", $i, $perc);
      $i: $i + 1;
    }
  }

  @media #{$extra-large-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.column-xl#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("xl", $i, $perc);
      $i: $i + 1;
    }
  }
}
