.panel-component {
  margin-bottom: 24px;
  background: $white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba($black, 0.14), 0 1px 5px 0 rgba($black, 0.12), 0 3px 1px -2px rgba($black, 0.2);

  .panel-header {
    padding: 16px 24px;
    color: $white;
    background: $green-light;
    border-radius: 2px 2px 0 0;
    font-weight: 600;

    h2 {  // todo: move this style into a mixin, and apply it to each individual page/component
      margin: 0;
      color: $white;
      font-size: 16px;
    }

    a {  // todo: move this style into a mixin, and apply it to each individual page/component
      color: $white;
      font-size: 12px;
      font-weight: normal;

      &:hover {
        text-decoration: none;
        box-shadow: inset 0 -1px 0 $green-dark;
      }
    }
  }

  .panel-footer {
    padding: 16px 24px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 0 0 2px 2px;
  }

  .panel-content {
    padding: 24px;
  }
}
