* {
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#app {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: $text;
  background: $gray-light;
}

a {
  color: $link;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  color: $heading;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;

  tr {
    margin: 0;
    padding: 0;
  }

  td,
  th {
    margin: 0;
    padding: 8px 4px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.narrow {
      width: 75px;
    }

    &.negligible {
      @media #{$small-and-down} {
        display: none;
      }
    }
  }

  thead {
    td,
    th {
      border-bottom: 1px solid rgba($gray-dark, 0.15);
    }

    th {
      font-weight: 600;
    }
  }

  tbody {
    td,
    th {
      border-bottom: 1px solid rgba($gray-dark, 0.15);
    }
  }
}
