$green-dark: rgba(73, 132, 103, 1);
$green-light: rgba(82, 183, 136, 1);
$gray-light: rgba(239, 241, 237, 1);
$gray-dark: rgba(135, 142, 136, 1);
$gray-black: rgba(65, 65, 65, 1);
$blue: rgba(93, 134, 186, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$link: $blue;
$text: $gray-dark;
$heading: $gray-black;
